body{
    height: auto;
    width: auto;
    background: linear-gradient(45deg, black, #09004e, rgb(82, 0, 175));
}

*{
    font-family: "Cal Sans";
    box-sizing: border-box;
    margin: 0;
}

.contenedor-navbar{
    padding: 10px;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}
.nombre-marca{
    font-size: 35px;
    text-decoration: none;
    color: rgb(40, 44, 255);
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    font-size: 20px;


}
.navbar ul li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}


.boton-inicio-o-registro{
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
.boton-inicio-o-registro:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}
.contenedor-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    text-align: center;
    font-size: 100px;
    color: white;
    margin: 50px 30px;
}
.contenedor-marcas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.marcas{
    margin: 15px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: aliceblue;
}
.boton-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.boton-contacto button{
    font-size: 45px;
    border-radius: 50px;
    padding: 30px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.boton-contacto button:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}
.logos{
    overflow: hidden;
    background: white;
    white-space: nowrap;
    padding: 15px;
}
.logos-slide{
    display: inline-block;
    animation: 20s slide infinite linear ;
}
.logos-slide img{
    height: 100px;
    margin: 0px 70px;

}

/* animacion slider */

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }

}
.contenedor-carrusel{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textos{
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin: 20px;

}

.carrusel section{
    display: flex;
    width: 800px;
    height: 500px;
    margin: 50px;
}
.carrusel section img{

    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: 0.5s ease;
}
.carrusel section img:hover{
    cursor: crosshair;
    width: 150px;
    opacity: 1;
    filter: contrast(120%);
}

.contenedor-electrodomesticos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-electrodomesticos{
    position: relative;
    width: 190px;
    height: 254px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.cards-electrodomesticos::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cards-electrodomesticos::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}

.cards-electrodomesticos p:not(.heading) {
    font-size: 14px;
}

.cards-electrodomesticos p:last-child {
    color: #e81cff;
    font-weight: 600;
}

.cards-electrodomesticos:hover::after {
    filter: blur(30px);
}

.cards-electrodomesticos:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}



